:root {
  /* ### Primary */
  --Scissors-Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
  --Score-Text: #2a45c0;

  --Dark-Text: hsl(229, 25%, 31%);

  /* ### Neutral */
  --Header-Outline: hsl(217, 16%, 45%);

  /* ### Background */
  --Radial-Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

* {
  font-family: "Barlow", sans-serif;
  background: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
}
html {
  overflow: hidden;
}
body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  overflow: hidden;
}

.mt-100 {
  margin-top: 100px;
}

.title_score {
  max-width: 700px;

  border: 1px solid white;
  padding: 20px 20px;
  border-radius: 15px;
}

h1 {
  transform: scale(1, 1.1);
  font-size: 40px;
  font-weight: 700;
  line-height: 0.8;
}

.score_title {
  color: var(--Score-Text);
  letter-spacing: 1px;
  font-size: 20px;
}
.score-wrap {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
}
#score {
  font-size: 70px;
  color: var(--Dark-Text);
  font-weight: 700;
  padding: 0px !important;
}
.paper::after {
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}
.paper {
  background-image: linear-gradient(#4865f4, #5671f5);
  box-shadow: 0px 9px 2px 0px #3d55ce;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: 0.5s;
}

.paper img {
  height: 50%;
  z-index: 2;
}

.paper:hover {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  margin-top: -10px !important;
  cursor: pointer;
}

.paper:hover img {
  filter: invert(46%) sepia(90%) saturate(4922%) hue-rotate(221deg)
    brightness(99%) contrast(94%);
}

.scissors::after {
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}
.scissors {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 9px 2px 0px hsl(39, 85%, 38%);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: 0.5s;
}

.scissors img {
  height: 50%;
  z-index: 2;
}

.scissors:hover {
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  margin-top: -20px !important;
  cursor: pointer;
}

.scissors:hover img {
  filter: invert(62%) sepia(76%) saturate(858%) hue-rotate(357deg)
    brightness(96%) contrast(92%);
}

.rock::after {
  content: "";
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}
.rock {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 9px 2px 0px hsl(349, 91%, 34%);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: all 0.5s;
}

.rock img {
  height: 50%;
  z-index: 2;
}
.rock:hover {
  margin-top: -10px !important;
  cursor: pointer;
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
}

.rock:hover img {
  filter: invert(23%) sepia(63%) saturate(4178%) hue-rotate(336deg)
    brightness(93%) contrast(85%);
}

.btn-rules {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
  letter-spacing: 3px;
}

.btn-rules:hover {
  font-size: 25px;
}

.triangle {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 340px;
  z-index: -1;
}

.rules {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 100%);
  height: 500px;
  width: 500px;
  z-index: 5;
  border-radius: 20px;
  transition: 500ms ease;
}

.rules-img img {
  height: 300px;
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 40px;
}

.close-icon:hover {
  cursor: pointer;
  filter: invert(50%) sepia(57%) saturate(12%) hue-rotate(209deg) brightness(0%)
    contrast(101%);
}

.close-icon img {
  height: 30px;
}

.title-rules {
  position: absolute;
  top: 30px;
  left: 50px;
}

/* CLASSE GIOCO PRINCIPALE */
.main-game {
  display: none;
}

.empty-choice {
  height: 250px;
  width: 250px;
  background-color: rgba(36, 35, 35, 0.294);
  border-radius: 50%;
}

h3 {
  letter-spacing: 3px !important;
}

.btn-playagain {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 40px;
  letter-spacing: 3px;
}

.btn-playagain:hover {
  background-color: white;
  color: var(--Score-Text);
  padding: 15px 45px;
  font-size: 30px;
}

.game-notstart {
  display: none;
}

.game-screen {
  transition: 2s;
}

.scissorsgame {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: 0px 9px 2px 0px hsl(39, 85%, 38%);
  border-radius: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  transition: 0.5s;
}

.scissorsgame img {
  height: 50%;
  z-index: 2;
}

.scissorsgame::after {
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}

.papergame {
  background-image: linear-gradient(#4865f4, #5671f5);
  box-shadow: 0px 9px 2px 0px #3d55ce;
  border-radius: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  transition: 0.5s;
}

.papergame img {
  height: 50%;
  z-index: 2;
}

.papergame::after {
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}

.rockgame {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: 0px 9px 2px 0px hsl(39, 85%, 38%);
  border-radius: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  transition: 1s;
}

.rockgame img {
  height: 50%;
  z-index: 2;
}

.rockgame::after {
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: inset 0px 20px 0px -10px #eeebebf6;
}

.houseCard {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner {
  box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.04),
    0px 0px 0px 120px rgba(255, 255, 255, 0.05),
    0px 0px 0px 180px rgba(255, 255, 255, 0.06);
}

.swing-top-fwd {
  -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: swing-top-fwd 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-10-19 0:43:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1.1) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.animate__animated {
  -webkit-animation-fill-mode: inherit !important;
  animation-fill-mode: inherit !important;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.89);
}

@media (max-width: 768px) {
  .scissors::after {
    height: 100px;
    width: 100px;
  }
  .scissors {
    height: 130px;
    width: 130px;
  }

  .scissorsgame::after {
    height: 100px;
    width: 100px;
  }

  .scissorsgame {
    height: 130px;
    width: 130px;
    left: 70%;
    top: 80%;
  }

  .rock::after {
    height: 100px;
    width: 100px;
  }
  .rock {
    height: 130px;
    width: 130px;
  }

  .rockgame::after {
    height: 100px;
    width: 100px;
  }

  .rockgame {
    height: 130px;
    width: 130px;
    left: 70%;
    top: 80%;
  }

  .paper::after {
    height: 100px;
    width: 100px;
  }

  .paper {
    height: 130px;
    width: 130px;
  }

  .papergame::after {
    height: 100px;
    width: 100px;
  }

  .papergame {
    height: 130px;
    width: 130px;
    left: 70%;
    top: 80%;
  }

  .triangle {
    height: 250px;
    width: 300px;
  }

  .btn-rules {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    letter-spacing: 3px;
  }

  h1 {
    font-size: 35px;
  }

  .title_score {
    padding: 10px 10px;
  }

  .score-wrap {
    max-height: 90px;
  }

  #score {
    font-size: 50px;
    margin-bottom: -100px !important;
  }

  .score_title {
    font-size: 15px;
  }

  .gameStart {
    margin-top: 100px;
  }

  .rules-img img {
    height: 230px;
  }

  .rules {
    max-width: 280px;
  }

  .empty-choice {
    height: 130px;
    width: 130px;
  }

  .game-screen {
    margin-top: 150px;
  }

  .btn-playagain {
    font-size: 15px !important;
    width: 200px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1000ms ease;
  }

  .btn-playagain:hover {
    background-color: white;
    color: var(--Score-Text);
    padding: 10px 40px;
    font-size: 15px;
  }

  #resultMatch {
    margin-top: -200px;
    color: rgb(241, 232, 227);
    font-weight: 800;
    width: 250px;
    font-size: 60px;
    border-radius: 10px;
    padding-bottom: 0 !important;
  }

  .houseCard {
    top: 80%;
    left: 25%;
    position: relative;
  }

  #userChoice {
    margin-right: 1000px;
  }

  .px-5 > h3 {
    font-size: 15px;
    white-space: nowrap;
  }

  .housePicked {
    margin-right: 73px;
    position: relative;
    top: 30%;
  }
  .youPicked {
    margin-left: 73px;
    position: relative;
    top: 30%;
  }
}
